
body {
    background: #9bb9fc;
}

.sticker {
    padding-top: 20px;
    background: #ffffff;
    min-height: 100px;
    min-width: 100px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #0900b3;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.sticker .bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    background: #625fb3;
    width: 100%;
}

.sticker textarea {
    padding: 3px 10px;
    box-sizing: border-box;
    min-height: 100px;
    min-width: 100px;
    background: transparent;
    border: none;
}

.sticker .bar:hover {
    cursor: move;
    background: #80a3d0;
}

.sticker:hover {
    z-index: 1;
}

.addNoteBtn {
    color: white;
    font-size: 20px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.44);
    background: #1416b3;
    border: none;
}

.deleteButton,
.saveButton {
    border: none;
    position: absolute;
    top: 2px;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.deleteButton {
    border-radius: 50%;
    right: 5px;
    background: #ff0d39;
}

.saveButton {
    background-color: #67c603;
    background-image: url('save-icon.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 5px;